<div class="column">
  <h2>Articles</h2>
  <% @articles.by_category.each do |category, articles| %>
    <h3>
      <%= category %>
    </h3>
    <% articles.each do |article| %>
      <h4>
        <a href="<%= article.link %>"><%= article.title %></a>
      </h4>
    <% end %>
  <% end %>
</div>
<div class="column">
  <h2>Blog</h2>
  <% @blog_posts.items.each do |article| %>
    <h4>
      <a href="<%= article.link %>"><%= article.title %></a>
    </h4>
  <% end %>
</div>