<% @is_root = request.path_info == "/"  %>
<!DOCTYPE html>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= @title %></title>

<style>
  <%= site_style %>
</style>

<body class="<%= @is_root ?  "root" : "article"%>">

  <%= erb :header %>

  <div class="outer">
    <div id="body">
      <%= yield %>
    </div>
  </div>


  <%= erb :analytics %>
</body>
