<h1><a href="<%= @perma %>"><%= @title%></a></h1>
<%= @body %>

<% if @next_article %>
  <p class=nav>
    Next: <a href="<%= @next_article.link %>">
      <%= @next_article.title %>
    </a>
  </p>
<% end %>

<% if @previous_article %>
  <p class=nav>
    Previous: <a href="<%= @previous_article.link %>">
      <%= @previous_article.title %>
    </a>
  <p>
<% end %>

<% unless @article.category == "Ideas" or @article.ads_disabled %>
  <p class=plug>Enjoy this? Subscribe to my <a href="http://feeds.feedburner.com/TimRufflesBlog">RSS feed</a>.</p>
<% end %>

<hr />
<% unless @footnotes.empty? %>
  <div class="footnotes">
    <h3>Footnotes</h3>
    <ul>
      <% @footnotes.each do |note| %>
        <li id="<%= note.id %>"><%= note.text %></li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>
